# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\krasi\OneDrive\Desktop\JavaSchoolProjects\JavaProjects\Spring Data\Database Access with JDBC\Exercises\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
